@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

#sf_admin_container th
{
  white-space: nowrap;
}

#sf_admin_container ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

#sf_admin_container ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/error.png) no-repeat 4px 4px;
}

#sf_admin_container tbody tr:hover
{
  background-color: #f2f2f2;
}

#sf_admin_container .radio_list, #sf_admin_container .checkbox_list
{
  margin: 0;
}

#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li
{
  list-style: none;
  display: inline;
}

#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected
{
  width: 12em;
}

#sf_admin_container .double_list_label
{
  font-weight: bold;
}

#sf_admin_container tfoot td
{
  list-style: none;
  text-align: right;
}

#sf_admin_container thead img, #sf_admin_container tfoot img
{
  vertical-align: middle;
}

.sf_admin_pagination
{
  float: right;
}

#sf_admin_container ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: block;
  margin-right: 10px;
  font-size: 90%;
}

#sf_admin_container ul.sf_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

#sf_admin_container ul li
{
  position: relative;
}

#sf_admin_container ul.sf_admin_td_actions li a
{
  display: block;
  color: #555;
  padding-left: 23px;
  line-height: 1.6;
}

#sf_admin_container ul.sf_admin_actions li a:before,
#sf_admin_container ul.sf_admin_td_actions li a:before
{
  font-family: "entypo";
  position: absolute;
  text-decoration: none;
  zoom: 1;
  left: 7px;
}

#sf_admin_container ul.sf_admin_actions li a
{
  font-weight: normal;
  display: block;
  padding-left: 43px;
}

#sf_admin_container ul.sf_admin_actions li a:before
{
  left: 17px;
}

#sf_admin_container ul li.sf_admin_action_new a:before
{
  content: "\2795";
}

#sf_admin_container ul li.sf_admin_action_list a
{
  content: "\27a1";
}

#sf_admin_container ul li.sf_admin_action_delete a:before,
#sf_admin_container ul li.sf_admin_action_deactivate a:before
{
  content: "\2716";
}

#sf_admin_container ul li.sf_admin_action_edit a:before
{
  content: "\270e";
}

#sf_admin_container ul li.sf_admin_action_show a:before
{
  content: "\e705";
}

#sf_admin_container ul li.sf_admin_action_ok a:before,
#sf_admin_container ul li.sf_admin_action_activate a:before
{
  content: "\2713";
}

#sf_admin_container ul li.sf_admin_action_cancel a:before
{
  content: "\2715";
}

#sf_admin_container ul li.sf_admin_action_moveup a:before,
#sf_admin_container ul li.sf_admin_action_moveup span:before
{
  content: "\2b06";
}

#sf_admin_container ul li.sf_admin_action_movedown a:before,
#sf_admin_container ul li.sf_admin_action_movedown span:before
{
  content: "\2b07";
}

#sf_admin_container ul.sf_admin_actions
{
  text-align: right;
}

#sf_admin_container ul.sf_admin_actions li:last-child
{
  margin-right: 0;
}

#sf_admin_container ul.sf_admin_actions li.sf_admin_action_list.btn
{
  float: left;
}

#sf_admin_container ul li.disabled span
{
  opacity: 0.40;
  padding-left: 20px;
}

#sf_admin_container fieldset.collapsed * { display:none; }
#sf_admin_container fieldset.collapsed legend, #sf_admin_container fieldset.collapsed { display:block !important; }
#sf_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#sf_admin_container fieldset.collapse legend a.collapse-toggle { color:#ffc; }
#sf_admin_container fieldset.collapse legend a.collapse-toggle:hover { text-decoration:underline; }

#sf_admin_container ul label,
#sf_admin_container td label
{
  display: inline;
  float: none !important;
}

#sf_admin_container .help
{
  color: #aaa;
}

#sf_admin_container .errors input, #sf_admin_container .errors select
{
  border: 1px solid #f22;
}

#sf_admin_container .sf_admin_list .sf_admin_boolean
{
  text-align: center;
}

#sf_admin_container .sf_admin_checked_mark
{
  display: inline-block;
  font-family: "entypo";
  font-size: 18px;
  color: #58c026;
}

#sf_admin_container .sf_admin_sort_asc,
#sf_admin_container .sf_admin_sort_desc
{
  display: inline-block;
  font-family: "entypo";
}

#sf_admin_container .sf_admin_sort_asc:before
{
  content: "\e4af";
}

#sf_admin_container .sf_admin_sort_desc:before
{
  content: "\e4b0";
}

#sf_admin_container .sf_admin_pagination .sf_admin_current_page
{
  font-weight: bold;
}

#sf_admin_container .sf_admin_pagination a
{
  color: #555;
  display: inline-block;
}

#sf_admin_container .sf_admin_pagination .sf_admin_page
{
  font-family: "entypo";
  display: block;
}


/** Gumby customization **/
#sf_admin_container h1 { font-size: 44px; font-size: 2.75rem; padding-top: 0; }
#sf_admin_container table thead tr th, #sf_admin_container table thead tr th a { color: #fff; }
#sf_admin_container table tfoot tr th { display: table-cell; padding: 10px; vertical-align: top; text-align: left; border-top: 1px solid #e5e5e5; }
#sf_admin_container table tfoot tr th { font-size: 16px; vertical-align: bottom; }
#sf_admin_container table tr td:first-child { font-weight: normal; }


/** Fields **/
#sf_admin_container form select { min-width: 350px; }
#sf_admin_container form input[type="text"] { position: relative; padding: 0 10px; background: #fff; border: 1px solid #d8d8d8; height: 36px; line-height: 34px; font-size: 16px; font-size: 1rem; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
#sf_admin_container form input[type="search"] { height: 36px; line-height: 34px; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; padding-right: 0; }
#sf_admin_container form .field input[type="*"], #sf_admin_container form .field textarea { position: relative; padding: 0 10px; background: #fff; border: 1px solid #d8d8d8; height: 36px; line-height: 34px; font-size: 16px; font-size: 1rem; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
#sf_admin_container form .field textarea { height: inherit; }
#sf_admin_container .sf_admin_filter form input[type="text"], #sf_admin_container .sf_admin_filter form select { width: 95%; }

/** Show **/
#sf_admin_container .sf_admin_show_form {  }